.documentBackground{
     background: radial-gradient(ellipse at 36% 63%, rgba(90, 236, 255, 1) 21%, rgba(255, 255, 255, 1) 60%, rgba(177, 255, 180, 1) 100%);
}

.document_container{
      backdrop-filter: blur(5px);
       background-color:#c5c5c566;
       border-radius: 10px;
}

.inputLine2 {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 200px;
  height: 45px;
  padding-left: 10px;
  border-radius: 5px;
}

.inputLine3 {
  width: 410px !important;

}

.document_submit_button :hover{
     background-color: #4a4aff; 
  transform: scale(1.03);
  border-radius: 5px !important;
  cursor: pointer;
}
.notAllowedSubmitButton:hover{
  cursor: not-allowed;
}

.documentErrorMessageShow {
  position: absolute;
  background-color: rgba(250, 217, 217, 0.908);
  border: 1px red solid;
  color: red;
  padding: 2px 8px 2px 8px;
  /* width: 268px; */
  border-radius: 0px 5px 5px 5px;
  margin-left: 6px;
  margin-top: 30px;
  font-size: 14px;
}

.documentErrorMessageHide {
  display: none;
}

.email-input :hover{
  cursor: not-allowed !important;
}

.documentErrorMessageShowInPdf {
  position: absolute;
  background-color: rgba(250, 217, 217, 0.908);
  border: 1px red solid;
  color: red;
  padding: 2px 8px 2px 8px;
  /* width: 268px; */
  border-radius: 0px 5px 5px 5px;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 14px;
  z-index: 1;
}

.documentErrorMessageHideInPdf {
  display: none;
}