.button {
  width: 100px;
}

.ProductImage {
  max-width: 250px;
  width: auto;
  padding: 5px;
  max-height: 160px;
  border-radius: 5px;
}

.description {
  white-space: wrap; /* Prevent wrapping to multiple lines */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate text overflow */
  font-size: 14px;
  height: 60px;
  text-align: justify;
}

.product-card-body {
  margin: 0;
}
.product-edit-button:hover {
  background-color: #e6f9e3;
}
.product-delete-button:hover {
  background-color: #f9e3e3;
}
