.buttonContainer {
  position: absolute;
  top: 15%;
  right: 5%;
}

.productList {
  margin-left: 8%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.productItem {
  flex: 0 0 calc(25% - 20px); /* 4 items per row with margins */
  margin: 10px;
  box-sizing: border-box; /* Include padding and borders in the width */
}

@media (max-width: 1200px) {
  .productItem {
    flex: 0 0 calc(33.33% - 20px); /* 3 items per row with margins */
  }
}

@media (max-width: 800px) {
  .productItem {
    flex: 0 0 calc(50% - 20px); /* 2 items per row with margins */
  }
}

@media (max-width: 600px) {
  .productItem {
    flex: 0 0 100%; /* 1 item per row with full width */
  }
}
